body{
    background-color: green;
}

.contenedor > div{
    background-color: #CCC;
    font-size: 20px;
    line-height: 70px;
    width: 100px;
    margin: 10px;
    /**text-align: center;*/
   /** align-items: center; */

}

.contenedor{
    display: flex;
   /* flex-direction: column; */
    /* flex-direction: row; */
     /*  flex-direction: row-reverse; */
   /*flex-direction: row-reverse;*/
   /* justify-content: center; */
   justify-content: flex-end;
}